In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from sqlalchemy import create_engine

# Census API Key
from config import api_key
c = Census(api_key, year=2018)

In [2]:
#c.acs5.tables()

In [3]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e",
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E","B03001_012E","B03001_009E","B03001_010E",
                          "B03001_011E","B03001_013E","B03001_014E","B03001_017E",
                          "B03001_018E","B03001_019E","B03001_020E","B03001_021E",
                          "B03001_022E","B03001_023E","B03001_024E","B03001_025E"
                         ), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B03001_012E": "Nicaraguans",
                                      "B03001_009E": "Costa Ricans",
                                      "B03001_010E": "Guatemalans",
                                      "B03001_011E": "Hondurans",
                                      "B03001_013E": "Panamanians",
                                      "B03001_014E": "Salvadorans",
                                      "B03001_017E": "Argentineans",
                                      "B03001_018E": "Bolivians",
                                      "B03001_019E": "Chileans",
                                      "B03001_020E": "Colombians",
                                      "B03001_021E": "Ecuadorians",
                                      "B03001_022E": "Paraguayans",
                                      "B03001_023E": "Peruvians",
                                      "B03001_024E": "Uruguayans",
                                      "B03001_025E": "Venezuelans",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
# census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)
#    
#        

# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Nicaraguans","Costa Ricans",
                      "Guatemalans","Hondurans","Panamanians","Salvadorans","Argentineans","Bolivians","Chileans",
                       "Colombians","Ecuadorians","Paraguayans","Peruvians","Uruguayans","Venezuelans"]]

# Visualize
census_pd["Zipcode"].astype(int)
print(len(census_pd))
census_pd

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Nicaraguans,Costa Ricans,Guatemalans,Hondurans,...,Salvadorans,Argentineans,Bolivians,Chileans,Colombians,Ecuadorians,Paraguayans,Peruvians,Uruguayans,Venezuelans
0,00601,17242.0,40.5,13092.0,6999.0,10772.0,0.0,0.0,0.0,3.0,...,9.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,0.0,0.0
1,00602,38442.0,42.3,16358.0,9277.0,19611.0,0.0,0.0,0.0,0.0,...,49.0,0.0,0.0,0.0,0.0,0.0,0.0,56.0,0.0,0.0
2,00603,48814.0,41.1,16603.0,11307.0,24337.0,0.0,0.0,0.0,7.0,...,0.0,9.0,0.0,0.0,38.0,0.0,0.0,9.0,0.0,0.0
3,00606,6437.0,43.3,12832.0,5943.0,4163.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,00610,27073.0,42.1,19309.0,10220.0,11724.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,87515,363.0,44.2,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33116,87518,9.0,-666666666.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33117,87511,2896.0,36.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33118,87578,245.0,48.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33119,87532,18756.0,39.3,NaN,NaN,NaN,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,15.0,0.0,0.0,0.0,0.0

In [4]:
uszipcode5_file = "uszipcodes.csv"
df_uszipcode5 = pd.read_csv(uszipcode5_file)
df_uszipcode5

,Zipcode,lat,lng,city,state_id,state_name,zcta,parent_zcta,population_zip,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,10001,40.75061,-73.99716,New York,NY,New York,True,NaN,22924,13259.3,36061,New York,{'36061':100},New York,36061,False,False,America/New_York
1,10002,40.71586,-73.98613,New York,NY,New York,True,NaN,74993,35781.9,36061,New York,{'36061':100},New York,36061,False,False,America/New_York
2,10003,40.73180,-73.98911,New York,NY,New York,True,NaN,54682,37524.3,36061,New York,{'36061':100},New York,36061,False,False,America/New_York
3,10004,40.69465,-74.02106,New York,NY,New York,True,NaN,3028,2214.8,36061,New York,{'36061':100},New York,36061,False,False,America/New_York
4,10005,40.70616,-74.00907,New York,NY,New York,True,NaN,8831,37900.9,36061,New York,{'36061':100},New York,36061,False,False,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30536,99923,55.97796,-130.03671,Hyder,AK,Alaska,True,NaN,15,2.1,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,2198,False,False,America/Sitka
30537,99925,55.55767,-132.97627,Klawock,AK,Alaska,True,NaN,927,5.7,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,2198,False,False,America/Sitka
30538,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1635,4.2,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,2198,False,False,America/Metlakatla
30539,99927,56.25100,-133.37571,Point Baker,AK,Alaska,True,NaN,38,0.2,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,2198,False,False,America/Sitka
30540,99929,56.36950,-131.93648,Wrangell,AK,Alaska,True,NaN,2484,0.4,2275,Wrangell,{'02275':100},Wrangell,2275,False,False,America/Sitka

In [5]:
df_uszipcode5["Zipcode"]=df_uszipcode5["Zipcode"].astype(str)

In [6]:
uszipcode4_file = "uszipcodes4.csv"
df_uszipcode4 = pd.read_csv(uszipcode4_file)

In [7]:
uszipcode3_file = "uszipcodes3.csv"
df_uszipcode3 = pd.read_csv(uszipcode3_file)

In [8]:
df_uszipcode3["Zipcode"]=df_uszipcode3["Zipcode"].astype(str)
df_uszipcode4["Zipcode"]=df_uszipcode4["Zipcode"].astype(str)

In [9]:
df_uszipcode3["Zipcode"]="00" +df_uszipcode3["Zipcode"]

In [10]:
df_uszipcode4["Zipcode"]="0" +df_uszipcode4["Zipcode"]

In [11]:
tempzip = [df_uszipcode3, df_uszipcode4, df_uszipcode5]
df_uszipcode = pd.concat(tempzip)

In [12]:
census_combined_pd = pd.merge(census_pd, df_uszipcode, on='Zipcode', how='outer')

In [13]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
#census_combined_pd.to_csv("census_data_Central_Americans_and_South_Americans.csv", encoding="utf-8", index=False)

In [14]:
csv_file = "census_data_Central_Americans_and_South_Americans.csv"
census_combined_pd = pd.read_csv(csv_file)

C:\Users\rafae\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (26,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
# Add in Poverty Rate (Poverty Count / Population)
#for zip in zipcode:
#    if population > 0:
#census_combined_pd["poverty_rate"] = 100 * census_combined_pd["Poverty Count"] / census_combined_pd["Population"]

In [16]:
census_combined_pd = census_combined_pd.drop(columns=['zcta','parent_zcta','imprecise','military'])

In [19]:
census_combined_pd["central_americans"] = census_combined_pd["Nicaraguans"]+census_combined_pd["Costa Ricans"]+census_combined_pd["Guatemalans"]+census_combined_pd["Hondurans"]+census_combined_pd["Panamanians"]+census_combined_pd["Salvadorans"]

In [20]:
census_combined_pd["south_americans"]=census_combined_pd["Argentineans"]+census_combined_pd["Bolivians"]+census_combined_pd["Chileans"]+census_combined_pd["Colombians"]+census_combined_pd["Ecuadorians"]+census_combined_pd["Paraguayans"]+census_combined_pd["Peruvians"]+census_combined_pd["Uruguayans"]+census_combined_pd["Venezuelans"]

In [21]:
census_combined_pd["total"] = census_combined_pd["central_americans"]+census_combined_pd["south_americans"]

In [24]:
census_combined_pd["percent_central_american"] = 100 * census_combined_pd["central_americans"] / census_combined_pd["Population"]
census_combined_pd["percent_south_american"] = 100 * census_combined_pd["south_americans"] / census_combined_pd["Population"]
census_combined_pd["percent_total"] = 100 * census_combined_pd["total"] / census_combined_pd["Population"]

In [25]:
census_combined_pd

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Nicaraguans,Costa Ricans,Guatemalans,Hondurans,...,county_weights,county_names_all,county_fips_all,timezone,central_americans,south_americans,total,percent_central_american,percent_south_american,percent_total
0,601,17242,40.5,13092.0,6999.0,10772.0,0,0,0,3,...,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,America/Puerto_Rico,12,31,43,0.069597,0.179794,0.249391
1,602,38442,42.3,16358.0,9277.0,19611.0,0,0,0,0,...,{'72003':100},Aguada,72003,America/Puerto_Rico,49,56,105,0.127465,0.145674,0.273139
2,603,48814,41.1,16603.0,11307.0,24337.0,0,0,0,7,...,{'72005':100},Aguadilla,72005,America/Puerto_Rico,7,56,63,0.014340,0.114721,0.129061
3,606,6437,43.3,12832.0,5943.0,4163.0,0,0,0,0,...,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,America/Puerto_Rico,0,1,1,0.000000,0.015535,0.015535
4,610,27073,42.1,19309.0,10220.0,11724.0,0,0,0,0,...,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,America/Puerto_Rico,0,9,9,0.000000,0.033243,0.033243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,87515,363,44.2,NaN,NaN,NaN,0,0,0,0,...,{'35039':100},Rio Arriba,35039,America/Denver,0,0,0,0.000000,0.000000,0.000000
33116,87518,9,-666666666.0,NaN,NaN,NaN,0,0,0,0,...,{'35039':100},Rio Arriba,35039,America/Denver,0,0,0,0.000000,0.000000,0.000000
33117,87511,2896,36.0,NaN,NaN,NaN,0,0,0,0,...,{'35039':100},Rio Arriba,35039,America/Denver,0,0,0,0.000000,0.000000,0.000000
33118,87578,245,48.0,NaN,NaN,NaN,0,0,0,0,...,{'35039':100},Rio Arriba,35039,America/Denver,0,0,0,0.000000,0.000000,0.000000
33119,87532,18756,39.3,NaN,NaN,NaN,0,2,0,0,...,"{'35039':69.69,'35049':30.31}",Rio Arriba|Santa Fe,35039|35049,America/Denver,2,19,21,0.010663,0.101301,0.111964